body {
    margin: 0;
    padding: 0;
    background-color: #dfe3cf;
    font-family: 'Courier New', Courier, monospace;
}

header {
    text-align: center;
    padding: 1em;
    background: linear-gradient(180deg, #7ebf56, #dfe3cf);
    color: #263d18b9;
    text-shadow: 1px 2px 3px rgb(55, 84, 10);
    text-transform: uppercase;
}

form {
    width: 50vw;
    padding: 2em;
    margin: 2em auto;
    border-radius: 1em;
    box-shadow: 0px 0px 20px #536a4ddf;
}

label {
    font-weight: bold;
    color: #263d18b0;
    letter-spacing: 0.2em;
}

input,
textarea {
    display: block;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 0.2em;
    color: #263d18bb;
    padding: 1em;
    width: 100%;
    margin: 1em auto;
    background-color: #7ebf5663;
    border: none;
    border-radius: 1em;
    cursor: text;
    resize: vertical;
    overflow: auto;
}

button {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    font-weight: bold;
    padding: 1em;
    margin-top: 2em;
    width: 100%;
    background-color: #7ebf56;
    color: #e0ffe7;
    border: none;
    border-radius: 1em;
    text-transform: uppercase;
    cursor: pointer;
}

button:hover {
    background-color: #a1ee72;
}

button:active {
    background-color: #4f8031;
}