@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif, serif;
}

body {
  background-color: black;
  color: white;
}

.nav-bar {
  display: flex;
  padding: 1rem;
  flex-flow: column;
  align-items: center;
  background: linear-gradient(150deg, #162f14, #17400d, #338f12);
  margin: 1rem 0.5rem;
  border-radius: 1rem;
}

.nav-logo h1 {
  font-weight: 900;
  color: white;
  padding: 1rem;
}

.nav-bar .nav-link {
  margin-top: 0.8rem;
}

.nav-bar .nav-link ul {
  display: flex;
  list-style: none;
}

.nav-bar .nav-link ul li {
  padding: 2rem;
}

.nav-bar .nav-link ul a {
  display: none;
}
.nav-bar .nav-link ul i {
  display: inline-block;
  font-size: 1.1rem;
}
.nav-link li:hover {
  transform: scale(1.1);
  text-shadow: 0 0 0.5rem black;
  transition: all ease-out 300ms;
}

.hero-section {
  margin: 1rem 0.5rem;
  border-radius: 1rem;
  padding: 1rem;
  background-color: #297221;
  opacity: 1;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #000000 4px
    ),
    repeating-linear-gradient(#92929255, #929292);
}

.hero-section h1,p {
  margin-bottom: 2rem;
  font-weight: bold;
}

.hero-section h1 {
  font-size: 2.1rem;
}

.hero-section h1 span {
  color: #25e31b;
}

.hero-section button {
  width: 100%;
  margin-top: 2rem;
  padding: .5rem;
  border-radius: 1rem;
  border: none;
  background-color: black;
  color: white;
  font-weight: bold;
}

.hero-section .hero-image {
  display: none;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* CSS rules for tablets go here */
  .nav-bar {
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    align-items: center;
    padding: 2rem;
  }

  .nav-bar .nav-logo h1 {
    padding: 0.2rem;
    font-size: 1.5rem;
  }
  .nav-bar .nav-link {
    margin-top: 1rem;
  }

  .nav-bar .nav-link ul {
    display: flex;
    text-align: center;
    font-size: .8rem;
  }

  .nav-bar .nav-link ul li {
    padding: 2rem;
  }
  .nav-bar .nav-link ul a {
    display: inline;
    text-decoration: none;
    font-weight: bold;
    color: white;
  }

.hero-section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.hero-section button {
  width: 15rem;
  margin-top: 2rem;
  padding: .8rem;
  border-radius: 1rem;
  border: none;
  background-color: rgb(0, 0, 0);
  color: white;
  font-weight: bold;
}
  .hero-section .hero-image {
    display: block;
}
}

@media only screen and (min-width: 1024px) and (max-width: 2560px) {
  /* CSS rules for laptop & desktops go here */

  body {
    background: url(assets/nami.webp) repeat;
  }

  .nav-bar {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: transparent;
  }

  .nav-bar .nav-logo h1 {
    background-color: transparent;
    font-size: 3rem;
  }

  .nav-bar .nav-link ul {
    display: flex;
    align-items: center;
    font-size: .8rem;
  }
  .nav-bar .nav-link ul a {
    display: inline;
    text-decoration: none;
    font-weight: bold;
    color: white;
  }

}